@media only screen and (max-width: 400px) {
    .kontingen {
        font-size: 0.8rem;
    }
}

.btn-biru {
    background-color: #0053a6 !important;
}

.babak-active {
    background-color: #f0d500 !important;
}

.btn-biru:hover {
    background-color: #007bff !important;
}

.btn-biru:active {
    background-color: #0053a6 !important;
    transform: translateY(1px) !important;
}
.btn-danger:active {
    background-color: #db3545 !important;
    transform: translateY(1px) !important;
}

.tombol-tunggal:hover {
    background-color: rgb(46, 111, 0) !important;
}
.tombol-tunggal:active {
    transform: translateY(1px) !important;
}
