@media only screen and (max-width: 547px) {
    .display-4 {
        font-size: 35px !important;
    }
    .content {
        font-size: 0.5rem !important;
    }
    .font {
        font-size: 1rem !important;
    }
    .tombol-tunggal {
        height: 70% !important;
        margin-top: 30%;
    }
    .juri-bg {
        height: 40% !important;
        width: 60% !important;
    }
    .jenis-lomba h3 {
        font-size: 1rem !important;
    }
    .nama-petarung h3 {
        font-size: 1rem !important;
    }
    .jenis-lomba span {
        font-size: 1rem !important;
    }
    .nama-petarung span {
        font-size: 1rem !important;
    }
}
